html, body, #root {
        background: var(--body-bg);
        height: 100dvh;
        margin: 0;
        padding: 0;
}
.App {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
}
.splash {
        transform: translate(0px, 20px);
        background: url(assets/chief_pdx_gg_splash.jpg);
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
        width: 600px;
        height: 600px;
        margin:0px auto;
        padding: 0;
        border: 1px solid rgb(104, 104, 104);
        box-sizing: border-box;
        border-radius: 6px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.splash {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 100vw;
        height: 100vh;
        margin: 0px auto;
        border: 0;
        border-radius: 0;
}
}
@media (max-width: 600px) {
.splash {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 100vw;
        height: 100vh;
        margin: 0px auto;
        border: 0;
        border-radius: 0;
}
}
.logo-container {
        background: url(assets/logo_chief_pdx.png);
        background-size: 100%;
        background-position: calc(50% + 0px) calc(50% - 8px);
        background-repeat: no-repeat;
        width: 270px;
        height: 200px;
        opacity: .6;
        margin: 0 auto;
        padding: 0 0 0 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.logo-container {
        opacity: .6;
        background-position: calc(50% + 0px) calc(50% + 10px);
}
}
@media (max-width: 600px) {
.logo-container {
        opacity: .6;
        background-position: calc(50% + 0px) calc(50% - 10px);
}
}
.hgg-container {
        opacity: .75;
        margin: -20px auto;
        width: auto;
}
@media (min-width: 601px) and (max-width: 1024px) {
.hgg-container {
        opacity: 1;
        margin: 30px auto 0 auto;
}
}
@media (max-width: 600px) {
.hgg-container {
        opacity: 1;
        margin: -20px auto;
}
}
.hgg-container h2 {
        opacity: .85;
        font-family: "Pompiere";
        text-align: center;
        font-size: 3.3rem;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        white-space: pre-line;
}
@media (min-width: 601px) and (max-width: 1024px) {
.hgg-container h2 {
        opacity: .85;
}
}
@media (max-width: 600px) {
.hgg-container h2 {
        opacity: .85;
}
}
.hgg-container h2:nth-child(1) {
        display: block;
}
@media (min-width: 601px) and (max-width: 1024px) {
.hgg-container h2:nth-child(1) {
        display: block;
}
}
@media (max-width: 600px) {
.hgg-container h2:nth-child(1) {
        display: none;
}
}
.hgg-container h2:nth-child(2) {
        display: none;
}
@media (min-width: 601px) and (max-width: 1024px) {
.hgg-container h2:nth-child(2) {
        display: none;
}
}
@media (max-width: 600px) {
.hgg-container h2:nth-child(2) {
        display: block;
}
}
.hgg-container h2:nth-child(3) {
        display: none;
}
@media (min-width: 601px) and (max-width: 1024px) {
.hgg-container h2:nth-child(3) {
        display: none;
}
}
@media (max-width: 600px) {
.hgg-container h2:nth-child(3) {
        display: block;
}
}
.funtime-all {
        background: var(--funtime-all-bg);
        border: none;
        width: 402px;
        margin: 45px auto;
        padding: 0;
        box-sizing: border-box;
        font-size: 16px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.funtime-all {
        opacity: 1;
        margin: 65px auto;
}
}
@media (max-width: 600px) {
.funtime-all {
        opacity: 1;
        margin: 55px auto;
        width: 270px;
        max-width: 90vw;
}
}
.splash h3 {
        opacity: .85;
        font-size: 1.1rem;
        font-weight: var(--weight-regular);
        line-height: .5;
}
@media (min-width: 601px) and (max-width: 1024px) {
.splash h3 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.splash h3 {
        opacity: 1;
}
}
.funtime-input-and-button {
        background: var(--funtime-input-and-button-bg);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        gap: .5rem;
}
.funtime-input {
        background: var(--funtime-input-bg);
        color: var(--menu-modal-search-input-text);
        border: none;
        height: 40px;
        width: 100%;
        vertical-align: middle;
        border-radius: 4px;
        margin: 10px 0 0 0;
        padding: 0;
        text-indent: 10px;
        box-sizing: border-box;
        font-size: 16px;
}

@media (min-width: 601px) and (max-width: 1024px) {
.funtime-input {
        opacity: 1;
}
}
@media (max-width: 600px) {
.funtime-input {
        opacity: 1;
}
}
.funtime-button {
        display: block;
        height: 40px;
        transition: opacity 400ms ease;
        margin-top: 10px !important;
        padding: 0 16px !important;
        box-shadow: none;
        border: none;
        outline: none;
}
.funtime-button:focus {
        box-shadow: none;
        border: none;
        outline: none;
}
.funtime-button.hidden {
        display: none;
        pointer-events: none;
}
.funtime-button.visible {
        display: inline-block;
        pointer-events: auto;
}
.rose-container {
        opacity: 1;
        margin: -35px calc(50% - 150px);
        width: 230px;
}
.rose-container img {
        width: 230px;
        rotate: 45deg;
}
@media (min-width: 601px) and (max-width: 1024px) {
.rose-container {
        opacity: 1;
}
}
@media (min-width: 601px) and (max-width: 1024px) {
.rose-container img {
        opacity: 1;
}
}
@media (max-width: 600px) {
.rose-container {
        opacity: 1;
        margin: -35px calc(50% - 130px);
}
}
@media (max-width: 600px) {
.rose-container img {
        opacity: 1;
        width: 200px;
}
}
main {
        background: var(--main-bg);
        flex: 1;
        max-width: 1200px;
        width: 100%;              
        margin: 0 auto;
        padding: 8px;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
main {
        opacity: 1;
}
}
@media (max-width: 600px) {
main {
        opacity: 1;
}
}
body.menu-open main {
        padding-top: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
body.menu-open main {
        opacity: 1;
}
}
@media (max-width: 600px) {
body.menu-open main {
        opacity: 1;
}
}
.no-results {
        background-color: var(--no-results-bg);
        min-height: 40vh;
        display: grid;
        place-items: center;
        text-align: center;
        opacity: .85;
}
.no-results p {
        color: var(--no-results-text);
        font-weight: var(--weight-semi-bold);
}
.card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        padding-bottom: 20px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.card-grid {
        grid-template-columns: repeat(1, 1fr);
}
}
@media (max-width: 600px) {
.card-grid {
        grid-template-columns: repeat(1, 1fr);
}
}
.give-get-wrapper {
        opacity: 1;
        display: flex;
        gap: 8px;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin-top: 16px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.give-get-wrapper {
        opacity: 1;
}
}@media (max-width: 600px) {
.give-get-wrapper {
        opacity: 1;
        flex-direction: column;
}
}
.give-column, .get-column {
        flex: 1;
        min-width: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.give-column, .get-column {
        opacity: 1;
}
}
@media (max-width: 600px) {
.give-column, .get-column {
        opacity: 1;
        width: 100%;
}
}
.column-title {
        opacity: .85;
        margin: -12px 0 11px 0;
        font-size: 2rem;
        font-weight: 300;
}

