.card { 
        background: var(--card-bg);
        display: block;
        gap: 8px;
        margin: 0;
        padding: 8px;
        border: 0;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;
        text-decoration: none;
        color: inherit;
}
.card:has(.give) {
  background: var(--card-give-bg);
}

.card:has(.get) {
  background: var(--card-get-bg);
}

.give-get-field-01 {
        font-size: 1.2rem;
        margin-top: 0;    
        margin-bottom: 0;
        line-height: 1.375rem;
        text-transform: uppercase;    
}
.give-get-field-02  {
        font-size: 1.05rem;
        font-style: italic;
        margin-top: .9rem;    
        margin-bottom: 0;
        line-height: 1.1rem;
        white-space: pre-line;
}
.give-get-field-03,
.give-get-field-04  {
        font-size: .9rem;
        margin-top: .9rem;    
        margin-bottom: 0;
        line-height: 1.1rem;
        white-space: pre-line;
}
.give-get-field-04  {
        display: none;
}